doctype html
html
  head
    title Rishi Dance Academy
    block scripts
    block style
  body
    nav#navbar.top 
         ul
            div#logo
                img(src="/static/img1.png")
                | RDA 
            li #[a(href="/") Home]
            li #[a(href="/") Class Info] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/contact") Contact us]
            
    block content 
    footer#footer 
      |  Copyright © 2023 RishiDanceAcademy.com    | All rights reserved