doctype html
html
  head
    title Rishi Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar.top 
         ul
            div#logo
                img(src="/static/img1.png")
                | RDA 
            li #[a(href="/") Home]
            li #[a(href="/") Class Info] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Contact us]
    
    section#introSection 
        div Welcome to Rishi Dance Academy
        div.small Eat Sleep Dance Repeat 

    section#missionSection  
        h1 Our Mission 
        div.card 
            h3 Dance Perfection 
            div.card-box
                div.card-img
                  img(src="/static/coup img2.jpg", alt="Loading..")

                div.card-content  
                  p This is the best dance academy of this universe
        div.card 
            h3 Dance The Way you like
            div.card-box
                div.card-img
                  img(src="/static/img3.jpg", alt="Loading..")

                div.card-content  
                  p This is the best dance academy of this universe
        div.card 
            h3 Expert Teaching
            div.card-box
                div.card-img
                  img(src="/static/img4.jpg", alt="Loading..")

                div.card-content  
                  p This is the best dance academy of this universe

    section#sponsorSection 
        h1 Our Sponsors 
        div#sponsors
            img(src="/static/microsoft logo.jpg", alt="Loading...", class="spImages")
            img(src="/static/hp logo2.jpeg", alt="Loading...", class="spImages")
            img(src="/static/skype logo.jpeg", alt="Loading...", class="spImages")
            img(src="/static/apple logo.webp", alt="Loading...", class="spImages")

    footer#footer 
      |  Copyright © 2023 RishiDanceAcademy.com    | All rights reserved
    script
      include ../static/index.js