h1{
    text-align: center;
    margin: 12px;
}
.myInput{
    
    width: 32%;
    margin: 11px;
    padding: 5px;
    border-radius: 8px;
    height: 37px;
    font-size: 17px;
    border: 2px solid black;
    outline: none;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.btn{
    width: 118px;
    height: 39px;
    border: 3px solid black;
    outline: none;
    border-radius: 15px;
    font-size: 18px;
    color: red;
    background-color: black;
    margin-top: 17px;
}
.btn:hover{
    background-color: red;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.container{
    min-height: 76vh;
    margin-top: 50px;
}